nav {
  margin-top: 5px;
  background-color: #22272b;
  color: white;
  display: flex;
  justify-content: space-around;
  border-radius: 30px;
  align-items: center;
  box-shadow: 1px 1px 1px black;
  flex-wrap: wrap;
  position: fixed;
  width: 100%;
  z-index: 5;
}

nav .left {
  font-size: 29px;
  font-weight: 750;
  text-shadow: 1px 1px 1px black;
}

nav img {
  height: 6vh;
}