.secondSection h1 {
  text-align: center;
  font-size: 23px;
  margin-bottom: 28px;
}

#heading {
  font-size: 27px;
  text-shadow: 1px 1px 1px black;
}

.secondSection #carouselExample {
  height: 94%;
  width: 90%;
  background-color: #161a1d;
  margin: 30px 70px;
  box-shadow: 1px 1px 2px 1px black;
  margin: auto;
}

#carouselExample .contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

#carouselExample .contents img {
  height: 60vh;
}

#carouselExample .contents img:hover {
  box-shadow: 1px 1px 3px black;
}

#carouselExample .carousel-item {
  padding: 20px;
}

#carouselExample .contents .right {
  margin: 37px;
  font-size: 20px;
}

#carouselExample .contents .right ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin-top: 20px;
  background-color: #1d2125;
  padding: 20px;
  border-radius: 5px;
  flex-wrap: wrap;
}

#carouselExample .contents .right ul li img {
  height: 6vh;
  margin:10px;
}

.thirdSection h1 {
  margin-top: 100px;
  text-align: center;
  font-size: 25px;
}

.thirdSection #accordionExample {
  margin: 30px 70px;
  border: none;
  font-size: 20px;
}

#accordionExample .accordion-body {
  background-color: #161a1d;
  padding: 25px;
  color: white;
  display: flex;
  justify-content: space-around;
  font-size: 18px;
  border: none;
  flex-wrap: wrap;
}

#accordionExample .accordion-button {
  background-color: #1d2125;
  color: white;
  border: none;
  font-size: 20px;
}

#accordionExample .accordion-button:focus {
  box-shadow: none;
  border: none;
}

#accordionExample .accordion-item {
  border: none;
}

.accordion-body .tech {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
  flex-wrap: wrap;
}

.accordion-body .tech img {
  height: 7vh;
  border-radius: 10px;
  background: transparent;
  margin:13px;
}

#skillheading {
  font-size: 27px;
  text-shadow: 1px 1px 1px black;
}

.contact-div {
  margin-top:30px;
  margin-bottom:30px;
}

.contact-div h1 {
  font-size: 27px;
  margin-bottom: 30px;
  text-align: center;
}

.contact-div form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.contact-div form input,
.contact-div form textarea {
  width: 60%;
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #1d2125;
  color: white;
}

.contact-div form input:focus,
.contact-div form textarea:focus {
  box-shadow: 1px 1px 3px black;
  outline: none;
}

.footer {
  text-align: center;
  background-color: #22272b;
  color: white;
  font-size: 20px;
  padding: 7px;
}

ul.features {
  border: none;
  margin-top: 0px;
}

ul.features li {
  background-color: #22272b;
  padding: 10px;
  text-align: center;
  font-weight: 100;
  border-radius: 5px;
  margin-right:4px;
  margin-bottom:7px;
}

ul.features li:hover {
  border: 1px solid grey;
}

@media only screen and (max-width: 1280px){
  #carouselExample .contents img {
    height: 33vh;
    width:101%;
  }
}

@media only screen and (max-width: 412px){
  .accordion-body .tech img {
    height:4vh;
  }
}